<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Description of property</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="stylesheets/description.css">
<link rel="stylesheet" href="stylesheet/button.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="parallax bg-1"  style="background-image: url(<%=data[0].image_link%>);max-height: 600px;">
  <div class="container">
  </div>
</div>

<div class="scrolled">
  <div class="container">
    <h1><%=data[0].House_Name%></h1>
    <div class="Description">
      <h4>Description</h4>
      <p><%=data[0].Description%></p>
    <br>
    <div class="contain">
    <h5 class="price">Price:<%=data[0].Cost%><span class="price-value">70</span><span>&nbsp;Lakhs</span></h5>
    </div>
    <h5 class="size">Size of the house:<%=data[0].size%></h5>
    <h5 class="location">Location:<span class="location-value"><%=data[0].Street_Name%>,<%=data[0].City%></span></h5>
    <h5 class="pincode">Pincode:<span class="location-value"><%=data[0].Pincode%></span></h5>
    <h5 class="agentinfo">Agent Contact info:</h5>
    <h5 class="contact-info"></h5>
    <h5 class="phone">Phone Number: <%=data[0].A_MobileNo%></h5>
    <h5 class="email">Email:<%=data[0].A_Email_Id%></h5>
    <h5><a href="/deal_done?id=<%-data[0].PropertyId%>"><button class="btn draw-border">Deal Done</button></a></h5>
    <a></a>
  </div> 
  </div>
</div>
<!-- partial -->
  
</body>
</html>
